html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#ffffff;

  background-color: #849d8f;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0px 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ********************************************************** Slider **************************************************************************** */
.site-wrapper {
  text-align: center;
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(img/slide-1.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(img/slide-2.png);
}

.site-wrapper::after {
  background-image: url(img/slide-3.png);
}

.button {
  font:inherit;

  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
  z-index: 7;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom), #d84732 0%, #e1613e 100%;
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider {
  position: relative;

  margin-top: 280px;

  padding-top: 55px;

  text-align: center;

  color: #ffffff
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-top: -20px;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  /* margin-bottom: 28px; */

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 800;
}

.slide-button {
  /* height: 63px;
  width: 277px; */

  font-size: 32px;
  line-height: 44px;
  white-space: nowrap;

  padding-bottom: 9.5px;
  padding-top: 9.5px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 28px;

}

.slide {
  display: none;
}

.sliders-controls {
  position: absolute;
  top: 205px;
  /* left: 28px; */
  z-index: 20;

  font-size: 0;
}

.sliders-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-item {
  margin-bottom: 42px;
}


#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(img/slide-1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(img/slide-2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(img/slide-3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* ******************************************************* Site Buttons ************************************************************************** */

/* ************************************************************ Header **************************************************************************** */

.logo-container {
  margin-right: 10px;
}

.main-navigation {
  padding-top: 9px;
  display: flex;
}

.main-header {
  /* margin-bottom: 280px; */
}

.site-navigation {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 12px;

  list-style: none;
}

.site-navigation-item {
  display: inline-block;
  padding: 0;
  margin: 0;

  white-space: nowrap;
}

.site-navigation-item .user-btn {
  position: relative;

  display: block;
  padding: 7px 14px;
  border-radius: 30px;

  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}


.site-navigation-item .user-btn:hover  {
  background-color: #f7f6f3;
  color: #323232;
}


.site-navigation li {
  margin: 0;
  padding: 0;
}

.catalog-button:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position:absolute;
  top: 38px;
  left: -8px;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-top: 5px;


  border-radius: 5px;
  background-color: #f9f8f5;

  list-style: none;
  z-index: 1;
}

.submenu li {
  position: relative;
  padding: 6px 20px;
  text-align: start;
  white-space: nowrap;

}
.submenu li:hover {
  background-color: #fbded8;
}

.submenu li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.submenu li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submenu a {
  display: block;
  color: #3f3f3f;
  width: 100%;
  text-decoration: none;
}

.new-item a {
  font-weight: bold;
}

.new-item::after{
  position: absolute;
  top: 33px;
  left: 10px;
  content: "";
  display: block;
  width: 136px;
  height: 1px;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.2);
}

.user-navigation {
  display: flex;
  margin: 0;
  padding:0;
  margin-top: 14px;
  margin-left: auto;
  list-style: none;
}

.user-navigation li {
}

.user-navigation-button {
  padding: 8px;
  padding-left: 44px;
  margin-right: 10px;

  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;

  border-radius: 30px;
  border: none;
  background-color: rgb(253, 255, 254, 0.2);
}

.input-button {
  position: relative;
  padding-right: 16px;
}

.basket-button {
  margin-right: 0;

  position: relative;

  padding-right: 36px;

  display: block;
  text-decoration: none;
}

.search-button {
  position: relative;
  border-radius: 50%;
  padding: 16px 16px
}

.input-button::before {
  position: absolute;
  content: "";
  left: 14px;
  top: 4px;

  width: 24px;
  height: 23px;

  display: block;

  background-image: url(img/input.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.basket-button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;

  width: 21px;
  height: 20px;

  display: block;

  background-image: url(img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-form {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  right: 153px;
  top: 59px;
  z-index: 1;
}

.login-form-nav {
  margin-top: 20px;
  display: flex;
}

.login-form p {
  margin: 0;
  padding: 0;
}

.recovery-container {
  text-align: start;
}

.login-form a {
  display: inline-block;
  margin: 0;
  padding: 0px;

  font:inherit;
  text-align: end;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.login-form input {
  font: inherit;
  width: 100%;
  padding: 11px 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.password-input {
  margin-top: 20px;
}

.login-button {
  padding: 10px 25px;
  margin-right: 20px;


  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.login-form-item:hover .login-form {
  display: block
}

.login-form-item:hover .input-button {
  background-color: #ffffff;
  color:black;
}

.login-form-item:hover .input-button::before {
  background-image: url(img/input-copy.svg);
  background-repeat: no-repeat;
  background-position: center
}


.search-button::before {
  content: "";
  width: 23px;
  height: 20px;
  display: block;
  position: absolute;

  left: 8px;
  top: 7px;

  background-image: url(img/magnifier.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}


.search-form input,
.search-container {
  display: block;
}

.search-form input {
  font: inherit;
  padding: 10px 0px;
  width: 100%;

  padding-left: 15px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.search-container {

  min-width: 341px;
  display: none;
  position: absolute;
  padding: 20px 15px;
  background-color: #f8f7f4;

  border-radius: 5px;

  right: 257px;
  top: 59px
}

.search-item:hover .search-container {
  display: block;
}

.search-item:hover .search-button {
  color:black;
  background-color: #ffffff;
}

.search-item:hover .search-button::before {
  position: absolute;
  left: 8px;
  top: 8px;
  background-image: url(img/magnifer-black.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.working-hours-container {
  position: absolute;
  width: 167px;
  height: 40px;
  right: 27px;
  top: 72px;
}

.hours {
  text-align: end;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.number {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  padding-top: 16px;
  padding-left: 17px;
  padding-right: 20px;
  padding-bottom: 25px;
  flex-grow: 1;

  border-radius: 15px;
}

.columns h3,
.columns p {
  margin: 0;
  padding: 0px;
  padding-left: 1px;
  text-align: start;
}

.columns h3 {
  font:inherit;
  font-size: 35px;
  line-height: 41px;
  /* margin-bottom: 16px; */
  font-weight: bold;
}

.columns p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;

  margin-top: 16px;

  /* margin-bottom: 44px; */
}

.columns a {
  padding: 11px 0;
  padding-left: 22px;
  padding-right: 24px;
  margin-top: 44px;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.jam-columns {

  background-image: url(img/jam.jpg);
  background-repeat: no-repeat;
  border-radius: 18px;
}

.choco-columns {
  background-image: url(img/choco.jpg);
  background-repeat: no-repeat;
  border-radius: 18px;
}

.choco-button {
  margin-left: auto;
  background-color: #7e5c4b;
}

.advantages {
  padding: 25px 19px;
  margin-top: 37px;

  border-radius: 15px;
  background-image: url(img/waffle-bg.jpg);
  background-repeat: repeat-x;
}

.advantages p {
  font-size: 16px;
  line-height: 22px;

  text-align: start;
  color: #323232;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  margin-right: 10px;
}

.advantages .heading-advantages {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
  /* text-align: start; */
  padding: 0;
  margin: 0;
}
.advantages-list {
  column-count: 2;
  column-gap: 23px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-list li {
  display: flex;
}

.advantages-icon-container {
  margin-top: 7px;
  margin-right: 8px;
  flex-shrink: 0;
  width: 49px;
  height: 49px;
}

.advantages-icon-1 {
  background-image: url(img/scream-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages-icon-2 {
  background-image: url(img/list-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages-icon-3 {
  background-image: url(img/cow-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.advantages-icon-4 {
  background-image: url(img/thermo-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.popular-goods {
  margin-top: 34px;
}

.popular-goods-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.popular-goods-img {
  border-radius: 50%;
}

.popular-goods-item {
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding-top: 6px;
  margin-right: 26px;
  position: relative;
  transition: all 0.5s;
}

.popular-goods-item a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  transition: color 0.5s;
  margin-top: 9px;
}

.popular-goods-item h3 {
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.popular-goods-item:last-child {
  margin-right: 0;
}

.popular-goods-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url(img/hit.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 7;
  left: 0;
  transition: all 0.5s;
}

.price {
  position: absolute;
  right: 120px;
  top: 216px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.5s;
}

.kg {
  font-size: 29px;
}

.popular-goods-button {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 15px;
}

.popular-goods-btn-container {
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  visibility: hidden;
  border-radius: 0 0 5px 5px;
  transition: all 0.5s;
  opacity: 0;
}

.popular-goods-item:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.popular-goods-item:hover .popular-goods-btn-container {
  visibility: visible;
  background-color: rgba(248, 247, 244, 0.4);
  opacity: 1;
}

.popular-goods-item:hover .price {
  right: 105px;
}

.popular-goods-item:hover::before {
  top: 5px;
  left: 5px;
}

.description:hover {
  color:#e84d37;
}

.blog {
  display: inline-block;
  color:#323232;
  padding: 21px 18px;
  background-image: url(img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  min-height: 220px;
}

.blog h3 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
}

.blog p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.blog a {
  padding: 0;
  margin: 0;
  font:inherit;
  font-size: 24px;
  line-height: 30px;
  color:#323232;
  text-align: start;
}
.blog a:hover {
  color:#e84d37;
}

.mailing {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url(img/mail-bg.jpg);
  min-height: 220px;
  padding: 5px;
}

.mailing p {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  margin-top: 2px;
}

.mailing-container {
  padding: 27px 20px;
  border-radius: 10px;
  background-color: #f8f7f4; 
}

.mailing-form {
  display: flex;
  white-space: nowrap;
}

.mailing-form p {
  margin: 0;
  padding: 0;
  text-align: start;
  margin-top: 36px;
}

.form-button {
  margin-top: 35px;
}

.form-button button {
  font: inherit;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.mailing-form input {
  min-width: 368px;
  padding: 9px 13px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #d3d3d2;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.map {
  position: relative;
  margin-top: 40px;
  padding: 62px 0;
  min-height: 430px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 1200px;
}

.map .container {
  display: flex;
  justify-content: flex-end;
}

.contacts-map {
  position: relative;
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;

  background-color: #ffffff;
  width: 302px;
  min-height: 305px;
  padding: 30px 23px;
  border-radius: 15px;
  z-index: 2;
}

.contacts-map p {
  margin: 0;
  text-align: start;
}

.contacts-map .contacts-map-number {
  margin: 0;
  margin-top: 18px;
}

.contacts-map .contacts-map-telephone {
  margin: 0;
  margin-top: 4px;
}

.contacts-map .contacts-map-street {
  margin: 0;
  margin-top: 2px;
}

.contacts-map span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts-map-button {
  font:inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 27px;
  margin-top: 27px;
}

.main-footer .container {
  display:flex;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 224px;
}

.social-button {
  display: block;
  position: relative;
  font-size: 0;
  width: 38px;
  height: 38px;
  border: 4px solid #c2cec7;
  border-radius: 20px;
  margin-right: 11px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.social-button:hover {
  background-color:rgb(255, 255, 255, 0.5);
}

.twitter-button {
  background-image: url(img/twitter.svg);
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

.instagramm-button {
  background-image: url(img/insta.svg);
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

.facebook-button {
  background-image: url(img/facebook.svg);
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

.vk-button {
  background-image: url(img/vk.svg);
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

.footer-info ul {
  display: grid;
  grid-template-columns: min-content min-content;
  white-space: nowrap;
  font-size: 13px;
  line-height: 18px;
  column-count: 2;
  list-style: none;
  padding: 0;
  margin-top: 33px;
}

.footer-info a {
  color: #ffffff;
}

.footer-info a:hover {
  color:#e84d37;
}

.heart {
  position: relative;
  font-weight: bold;
}

.heart::before {
  content: "";
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  left: -23px;
  background-image: url(img/heart.svg);
  background-repeat: no-repeat;
  background-position: 1px
}

.footer-info {
  margin-right: 199px;
}

.footer-info li {
  margin-top: 5px;
  margin-right: 32px;
}

.footer-info li:nth-child(1),
.footer-info li:nth-child(2) {
  margin-top: 0px;
}

.footer-copyright img {
  margin-top: 17px;
}

.footer-copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: #ffffff;
}

.footer-copyright a:hover {
  color:#e84d37;
}

.site-navigation-item .active {
  background-color: #d07058;
}

.site-navigation .active:hover {
  background-color: #d07058;
  color: #ffffff
}

.active a {
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
}

.breadcrumbs span {
  padding-left: 5px;
  padding-right: 2px;
}

.page-title {
  margin: 0;
  margin-top: 4px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}


.filters-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.filters-form fieldset {
  margin: 0;
  margin-bottom: 16px;
  margin-right: 15px;
  padding: 0;
  padding-top: 5px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: lowercase;
  border: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  font-size: 14px;
  line-height: 16px;
}

.filters-form legend {
  margin-left: 15px;
  box-sizing: border-box;
  text-transform: none;
}

.filters-form select {
  background-color: #aabab0;
  background-image: url(img/icon-down-w.png);
  background-repeat: no-repeat;
  background-position: 168px 15px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: lowercase;
  padding: 10px 26px;
  padding-right: 11px;
  padding-left: 15px;
  border: none;
  transition: all 0.5s;
  appearance: none;
}

.filters-form select:hover {
  background-color: #ffffff;
  color: #323232;
  background-image: url(img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 168px 15px;
}

.filters-form .price-controls {
  position: relative;
  background-color: #aabab0;
  border-radius: 20px;
  width: 220px;
  height: 39px;
}

.price-controls .slider-line {
  width: 177px;
  height: 4px;
  background-color: #d1d9d2;
  position: absolute;
  top: 18px;
  left: 21px;
}

.price-controls .slider-line .slider-line-2 {
  background-color: #ffffff;
  height: 3px;
  position: absolute;
  top: 0px;
  left: -12px;
}

.price-controls .price-slider-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #97aca1;
  top: 11px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.1);
}

.price-controls .slider-button-min {
  left: 37px;
}

.price-controls .slider-button-max {
  left: 135px;
}

.form-container {
  background-color: #a9bab0;
  border-radius: 20px;
  padding: 11px 0px;
  padding-right: 2px;
}

.filters-form input[type="checkbox"],
.filters-form input[type="radio"] {
  display: none;
}

.filters-form label {
  position: relative;
  background-color: #aabab0;
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 0px;
  margin-right: 11px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.filters-form label:first-of-type {
  margin-left: 47px;
  padding-left: 0;
  font-size: 16px;
  line-height: 18px;
}

.filters-form label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 3px;
  width: 22px;
  height: 22px;
  border: 3px solid #eef2f0;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.filters-form .radio::before {
  border-radius: 50%;
}

.filters-form label:first-of-type::before {
  left: -32px;
}

.filters-form input[type="radio"]:checked + .radio::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eef2f0;
  cursor: pointer;
}

.filters-form input[type="radio"]:checked + .radio:first-of-type::after {
  left: -26px;
}

.filters-form .checkbox {
  margin-right: 15px;
}

.filters-form .checkbox::before {
  border: 2px solid #eef2f0;
  width: 20px;
  height: 20px;
  left: 1px;
}

input[type=checkbox]:checked+.checkbox::after {
  content: "";
  position: absolute;
  left: 1px;
  top: -2px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  background-image: url(img/checkbox-checked.svg);
}

input[type=checkbox]:checked+.checkbox:first-of-type:after {
  left: -32px;
}

.filters-btn {
  padding: 9px 27px;
  display: block;
  border-radius: 20px;
  background-color: #a6b7ad;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.5s;
}

.filters-btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.filters-form label:hover::before {
  border: 4px solid #eef2f0;
}

.price-controls .price-slider-button:hover {
  width: 22px;
  height: 22px
}


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}

.catalog-item {
  position: relative;
  flex-basis: 0px;
  margin-bottom: 28px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 2px;
  transition: all 0.5s;
  margin-right: 12px;
}

.catalog-item::after {
  position: absolute;
  content: '';
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 0;
}

.catalog-item-last {
  margin-right: 0px;
}

.catalog-item-img {
  border-radius: 50%;
  margin-bottom: 7px;
  position: relative;
  /* transition: all 0.5s; */
  z-index: 0;
}

.catalog-item-button {
  /* left: 37px; */
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 15px;
  white-space: nowrap;
  /* top: 340px; */
  /* transition: all 0.5s; */
}

.catalog-item-btn-container {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 7px;
  position: absolute;
  border-radius: 0 0 5px 5px;
  transition: all 0.5s;
  opacity: 0;
  z-index: 2;
}

.catalog-item-btn-container-last {
  padding-top: 29px;
}

.catalog-item-description {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  transition: color 0.5s;
}

.catalog-item-price {
  right: 123px;
  top: 214px;
  z-index: 2;
}

.catalog-item:hover::after {
  background-color: rgba(248, 247, 244, 0.4);
  z-index: 1;
}

.catalog-item:hover .catalog-item-img {
  z-index: 2;
}

/* .catalog-item:hover .catalog-item-button {
  visibility: visible;
} */

.catalog-item:hover .catalog-item-btn-container {
  opacity: 1;
}

.catalog-item:hover .catalog-item-price {
  right: 127px;
}


.pag-wrap {
  margin-top: 3px;
  margin-bottom: 25px;
  border-bottom: 1px solid #a9bbb1;
}

.paginator-container {
  display: flex;
}

.paginator {
  margin-top: 49px;
  margin-left: auto;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.paginator li:first-child {
  margin-left: 0;
  font-size: 22px;
  text-align: left;
}

.paginator li {
  padding: 0px 9px;
  display: inline-block;
  margin-right: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
}

.paginator a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.paginator .paginator-active,
.paginator .paginator-active:hover {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%
}

.paginator-active a {
  color: #323232;
}


.paginator-back::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 2px solid #9bafa4;
  transform: rotate(45deg);
  right: 205px;
  bottom: 7px;
  border-top: none;
  border-right: none;
}


.paginator-next::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 2px solid #ffffff;
  transform: rotate(45deg);
  right: 29px;
  bottom: 7px;
  border-bottom: none;
  border-left: none;
}

.paginator li:hover {
  background-color: rgba(248, 247, 244, 0.4);
  border-radius: 50%;
}

.border-container {
  margin-top: 31px;
  border-bottom: 1px solid #a9bbb1;
}